pandas
numpy
#langdetect
scikit-learn

fastapi
pydantic

streamlit
requests

pytest

kaggle

beautifulsoup4
joblib

uvicorn[standard]

newspaper3k
lxml[html_clean]

httpx
python-dotenv
