beautifulsoup4
fastapi
httpx
langchain
langchain-google-genai
langchain-google-vertexai
langchain-community
langdetect
lxml
numpy
pandas
pydantic
python-dotenv
requests
scikit-learn
sentencepiece
tavily-python
torch
transformers
uvicorn[standard]
