beautifulsoup4
fastapi
httpx
joblib
kaggle
langchain
langchain-google-vertexai
langchain-community
langdetect
lxml
mlflow
numpy
pandas
pydantic
python-dotenv
pytest
requests
scikit-learn
sentencepiece
streamlit
tavily-python
torch
transformers
uvicorn[standard]
