beautifulsoup4
fastapi
gspread
google-auth
google-cloud-translate
langchain
langchain-google-genai
langchain-community
langgraph
lxml
pydantic
python-dotenv
requests
scikit-learn
tavily-python
uvicorn[standard]
